<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapna.mapnaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mapna_logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activityClass.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activityClass.MainActivity"></activity>
        <activity
            android:name=".activityClass.LoginActivity"
            android:label="@string/login_name"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".activityClass.DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>

        <service android:name=".services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.HandleMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activityClass.HourlyLeaveActivity"
            android:label="@string/title_hourly_leave" />
        <activity
            android:name=".activityClass.HourlyMissionActivity"
            android:label="@string/title_Hourly_mission" />
        <activity
            android:name=".activityClass.DailyLeaveActivity"
            android:label="@string/title_Daily_leave"></activity>
        <activity
            android:name=".activityClass.OvertimeWorkActivity"
            android:label="@string/title_overtime_work"></activity>
        <activity android:name=".activityClass.HrRequestActivity">

        </activity>

    </application>

</manifest>